
*.stackdump
ORAC questions/.Stalk/geckodriver.log
ORAC questions/.Stalk/last.py
ORAC questions/.Stalk/outputs.csv
ORAC questions/.Stalk/solved.p
*.exe
ICPC/2020 World Finals Challenge/a0.in
ICPC/2020 World Finals Challenge/a1.in
ICPC/2020 World Finals Challenge/a1.out
ICPC/2020 World Finals Challenge/a2.in
ICPC/2020 World Finals Challenge/a2.out
ICPC/2020 World Finals Challenge/a3.in
ICPC/2020 World Finals Challenge/a3.in
